/* Dark mode via prefers-color-scheme */
@media (prefers-color-scheme: dark) {
    :root {
        --button-primary-bg: #0b74d1;
    }
}

/* Light mode via prefers-color-scheme */
@media (prefers-color-scheme: light) {
    :root {
        --button-primary-bg: #0b74d1;
    }
}
body.light {
    --button-primary-bg: #0b74d1;
}

body.dark {
    --button-primary-bg: #0b74d1;
}

.file {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid var(--table-border);
    min-width: 150px;
    color: var(--text-color);
    background: var(--table-bg);
}

.primary {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: var(--button-primary-bg);
    color: white;
}

.secondary {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: var(--button-secondary-bg);
    color: white;
}

::file-selector-button {
    padding: 4px 6px;
    border-radius: 8px;
    border: 1px solid var(--table-border);
    cursor: pointer;
    background: var(--button-primary-bg);
    color: var(--text-color);
}

progress {
    width: 200px;
    height: 14px;
}