.header-table th:nth-child(1),
.body-table td:nth-child(1) { width: 140px; }

.header-table th:nth-child(2),
.body-table td:nth-child(2) { width: 140px; }

.header-table th:nth-child(3),
.body-table td:nth-child(3) { width: 170px; }

.header-table th:nth-child(4),
.body-table td:nth-child(4) { width: 140px; }

.header-table th:nth-child(5),
.body-table td:nth-child(5) { width: 140px; }

.header-table th:nth-child(6),
.body-table td:nth-child(6) { width: 140px; }

.header-table th:nth-child(7),
.body-table td:nth-child(7) { width: 140px; }

.header-table th:nth-child(8),
.body-table td:nth-child(8) { width: 140px; }

.header-table th:nth-child(9),
.body-table td:nth-child(9) { width: 140px; }

.header-table th:nth-child(10),
.body-table td:nth-child(10) { width: 140px; }

.header-table th:nth-child(11),
.body-table td:nth-child(11) { width: 140px; }

.header-table th:nth-child(12),
.body-table td:nth-child(12) { width: 140px; } 

.header-table th:nth-child(13),
.body-table td:nth-child(13) { width: 140px; }

.header-table th:nth-child(14),
.body-table td:nth-child(14) { width: 140px; }

.header-table th:nth-child(15),
.body-table td:nth-child(15) { width: 140px; }

.header-table th:nth-child(16),
.body-table td:nth-child(16) { width: 140px; }

.header-table th:nth-child(17),
.body-table td:nth-child(17) { width: 140px; }

.header-table th:nth-child(18),
.body-table td:nth-child(18) { width: 140px; }

.header-table th:nth-child(19),
.body-table td:nth-child(19) { width: 140px; }

.header-table th:nth-child(20),
.body-table td:nth-child(20) { width: 140px; }

.header-table th:nth-child(20),
.body-table td:nth-child(20) { width: 140px; }

.header-table th:nth-child(21),
.body-table td:nth-child(21) { width: 140px; }

.header-table th:nth-child(22),
.body-table td:nth-child(22) { width: 140px; }

.header-table th:nth-child(23),
.body-table td:nth-child(23) { width: 140px; }

.header-table th:nth-child(24),
.body-table td:nth-child(24) { width: 140px; }

.header-table th:nth-child(25),
.body-table td:nth-child(25) { width: 140px; }

.header-table th:nth-child(26),
.body-table td:nth-child(26) { width: 140px; }